@font-face{
    font-family: "Roboto-Reg";
    src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face{
    font-family: "Roboto-Bold";
    src: url("../../assets/fonts/Roboto-Medium.woff2") format("woff2");
}
@font-face{
    font-family: "Roboto-Thin";
    src: url("../../assets/fonts/Roboto-Thin.woff2") format("woff2");
}